In [3]:
import base64
import json
import os

from dotenv import load_dotenv
from google.cloud import bigquery
from google.oauth2 import service_account

load_dotenv()

credentials_json = base64.b64decode(os.getenv("SERVICE_ACCOUNT_JSON_BASE64")).decode(
    "utf-8"
)
credentials_info = json.loads(credentials_json)
credentials = service_account.Credentials.from_service_account_info(credentials_info)
client = bigquery.Client(credentials=credentials)

In [5]:
query = """
    SELECT *
    FROM `bigquery-public-data.google_trends.top_terms`
    LIMIT 10
"""
result = client.query(query)
result.to_dataframe()

/Users/shibatanaoto/project/squadbase/streamlit-business-intelligence/.venv/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,score,rank,refresh_date,dma_name,dma_id,term,week
0,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-05-31
1,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-06-07
2,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-06-21
3,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-07-05
4,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-07-26
5,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-08-02
6,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-08-09
7,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-08-16
8,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-08-23
9,<NA>,7,2025-06-02,Portland-Auburn ME,500,alexander bublik,2020-09-27